<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1 class="text-center">Edit Your Profile</h1>
      <p class="text-center">Make changes to your existing profile.</p>
      <div class="well">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>